html, body {
  height: 100%;
  margin: 0;
  font-family: "adelle-sans", sans-serif;
  font-weight: 300;
  color: #999;
}

h1,h2,h3,h4,h5,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
  font-family: inherit;
  font-weight: 300;
}

a {
  color: #7bc0c6;
  text-decoration: none;
}

a:hover {
  color: #53aab2;
  text-decoration: underline;
}
