html, body {
  height: 100%;
  margin: 0;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  background-color: #7abfc5;
}

.content {
  position: absolute;
  right: 0;
  height: auto;
  width: 75%;
}