#home {

  .splash {
    position: relative;
    display: none;
    text-align: center;

    .splash-content {

      img {
        height: 140px;
      }

      h1 {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 30px;
      }

      button {
        border: 1px solid #999;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        background-color: transparent;
        padding: 10px;
        margin-top: 10px;
        color: #999;
        cursor: pointer;

        &:hover, &:focus {
          border: 1px solid #7bc0c6;
          color: #7bc0c6;
        }
      }
    }
  }

  @media screen and (min-width: 992px) {
    .splash {
      padding-top: 15%;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 992px) {
    .splash {
      padding-top: 23%;
    }
  }

  @media screen and (max-width: 768px) {
    .splash {
      padding-top: 20%;
    }
  }

  .services {
    text-align: center;

    img {
      margin-top: 10%;
      height: 150px;
    }
  }

  .testimonials {
    text-align: center;

    img {
      height: 150px;
      width: 150px;
      border-radius: 150px;
    }

    p {
      width: 80%;
      margin: 20px auto 0;
      padding-left: 10px;
      border-left: 5px solid #7abfc5;
    }

    h3 {
      margin: 20px 0 0;
    }

    h4 {
      margin: 10px 0 0;
    }
  }

  .vslide {
    position: relative;
  }

  .vertical-control {
    display: block;
    width: 2em;
    position: fixed;
    top: 46%;
    right: 0;
    z-index: 99999;
    font-size: 21px;

    i {
      cursor: pointer;
    }
  }

  .hslide {
    display: none;
  }

  .hslide1 {
    display: block;
  }

  .horizontal-control {
    text-align: center;
    display: block;
    position: absolute;
    bottom: 30px;
    left: 30px;
    right: 30px;
    font-size: 21px;

    i {
      cursor: pointer;
      margin-right: 15px;
    }
  }

  @media screen and (max-width: 768px) {
    .horizontal-control {
      position: relative;
      left: 0;
      bottom: 0;
      right: 0;
      margin-top: 20px;
      padding-bottom: 20px;
    }
  }

}
