#projects {

  .project {
    width: 40%;
    float: left;
    position: relative;
    margin: 20px 4%;
    padding: 0;
    overflow: hidden;
    border: 1px solid #999;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    .image {
      width: 100%;
      margin: 0;
      padding: 0;
      text-align: center;

      img {
        width: 100%;
      }
    }

    .details {
      width: 95%;
      margin: 0 auto;
      height: 200px;
      text-align: center;

      h1.title {
        margin: 5px 0;
        color: #7bc0c6;
      }

      p.summary {
        margin: 0;
        padding: 0;
      }

      .links {
        text-align: center;
        position: absolute;
        bottom: 20px;
        right: 20px;
        left: 20px;

        .link {
          margin: 0 10px;
          padding: 5px 10px;
          border: 1px solid #999;
          border-radius: 5px;
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          color: #999;

          &:hover, &:focus {
            border: 1px solid #7bc0c6;
            color: #7bc0c6;
            text-decoration: none;
          }
        }
      }
    }
  }

  @media screen and (max-width: 992px) {
    .project {
      width: 90%;
      margin: 20px auto 25px;
      float: none;
      text-align: center;
    }
  }

}
