/*
 * Footer Styles
 */

.footer {
  text-align: center;
  margin-top: 30px;
}

.footer img {
  height: 18px;
  margin-top: -3px;
}

.footer div {
  margin-top: 10px;
}

.footer a {
  color: #999999;
  font-size: 15px;
}

.footer a:hover {
  text-decoration: none;
}

.footer .copyright {
  margin: 15px 0px 15px;
}
