/*
 * HEADER STYLES
 */

/** GENERAL HEADER STYLES **/

.header {
  background-color: #7abfc5;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.header ul {
  list-style-type: none;
  text-align: center;
}

.header ul li {
  display: inline;
}

.header ul li a {
  color: #fff;
  -o-transition:.7s;
  -ms-transition:.7s;
  -moz-transition:.7s;
  -webkit-transition:.7s;
  transition:.7s;
  padding-bottom: 10px;
}

@media only screen and (min-width: 768px) {

  .header {
    width: 100%;
    height: 105px;
  }

  .header ul {
    padding: 10px 0px 0px;
  }

  .header ul li {
    margin: 15px 25px;
  }

  .header ul li a:hover,
  .header ul li a:focus {
    text-decoration: none;
    border-bottom: 1px solid #fff;
  }

  .header ul li.logo img {
    height: 85px;
  }

  .header ul .logo a:hover,
  .header ul .logo a:focus {
    text-decoration: none;
    border: 0px;
  }

}

@media only screen and (min-width: 0px) and (max-width: 767px) {

  .header {
    text-align: center;
    height: auto;
    padding-bottom: 20px;
  }

  .header img.title {
    height: 55px;
    margin: 10px 0px;
  }

  .header ul {
    margin: 0px;
    padding: 0px;
  }

  .header ul li {
    margin: 0px;
  }

  .header ul li a {
    padding: 10px 5px;
  }

}
