.footer {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;

    li {
      display: inline;
      padding: 0 5px;

      img {
        height: 30px;
      }
    }
  }
}

.mobile-footer {
  display: none;
}

@media screen and (max-width: 992px) {
  .footer {
    display: none;
  }

  .mobile-footer {
    display: none;
    background-color: #7abfc5;
    height: 60px;
  }
}
