/*
 * GENERAL STYLES
 */

/** FONT FACE **/

@font-face {
  font-family: 'RBNo2';
  src: url('../fonts/RBNo2Light.otf');
}

/** UTILITY CLASSES **/

/** BASE TEMPLATE CLASSES **/

.content {
  padding-top: 70px;
}

.divider {
  width: 80%;
  border: 1px solid #CCCCCC;
  margin: 40px auto;
}

.heading {
  text-transform: uppercase;
}

/** BOOTSTRAP OVERRIDES **/

body {
  background-color: #F8F8F8;
  color: #999999;
  font-family: 'Abel', sans-serif;
  font-weight: 300;
}

h1,h2,h3,h4,h5,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
  font-family: inherit;
  font-weight: 300;
}

a {
  color: #7bc0c6;
}

a:hover {
  color: #53aab2;
}
