/*
 * HEADER STYLES
 */

/** GENERAL HEADER STYLES **/

.header {
  font-family: 'RBNo2', 'Open Sans', sans-serif;
  font-size: 24px;
  padding: 10px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.header a {
  color: #7abfc5;
  -o-transition:.7s;
  -ms-transition:.7s;
  -moz-transition:.7s;
  -webkit-transition:.7s;
  transition:.7s;
}

.header .title {
  text-align: center;
  float: left;
}

.header .title img {
  height: 70px;
}

.header .navigation {
  text-align: center;
  margin-top: 10px;
  float: right;
}
