/*
 * HEADER STYLES
 */

/** GENERAL HEADER STYLES **/

.header {
  position: fixed !important;
  width: 100%;
  height: 70px;
  background-color: #7abfc5;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 10px;
  z-index: 1;
}

.header a {
  color: #fff;
  -o-transition:.7s;
  -ms-transition:.7s;
  -moz-transition:.7s;
  -webkit-transition:.7s;
  transition:.7s;
}

.header .title {
  text-align: center;
  float: left;
  margin-left: 80px;
}

.header .title img {
  height: 50px;
}

.navigation {
  text-align: center;
  margin-top: 10px;
  margin-right: 80px;
  float: right;
}

.nav-button {
  display: none;
}

.nav-lines > li {
  float: left;
}

.nav-lines > li > a {
  padding: 5px 0px;
}

.nav-lines > li + li {
  margin-left: 20px;
}

.nav-lines > li > a:hover,
.nav-lines > li > a:focus {
  background-color: #7abfc5;
  border-bottom: 1px solid #fff;
}

.nav-lines > li.active > a,
.nav-lines > li.active > a:hover,
.nav-lines > li.active > a:focus {
  background-color: #7abfc5;
  border-bottom: 1px solid #fff;
}

@media screen and (min-width: 768px) and (max-width: 991px) {

  .header .title {
    margin-left: 30px;
  }

  .header .title img {
    height: 60px;
  }
  .navigation {
    margin-right: 30px;
  }

}

@media only screen and (min-width: 0px) and (max-width: 767px) {

  .header .title {
    margin-top: 10px;
    margin-left: 10px;
  }

  .header .title img {
    height: 50px;
  }

  .nav-button {
    display: block;
    float: right;
    margin: 10px 15px 0px 0px;
  }

  .nav-lines li {
    float: none;
    display: none;
  }

  .navigation.open {
    text-align: left;
    float: none;
    width: 100%;
    margin: 80px 0px 0px;
    background-color: #FFF;
    padding: 0px;
  }

  .nav-lines.open li {
    line-height: 14px;
    display: block;
    padding: 3px 10px;
    margin: 0px;
  }

}


